<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rustorepurchase">

   <uses-permission android:name="android.permission.INTERNET" />

   <application android:name=".MainApplication" >
        <meta-data android:name="consoleApplicationId" android:value="com.appomart.retry"/>
        <meta-data android:name="deeplinkPrefix" android:value="454501311"/>
        <meta-data android:name="applicationId" android:value="yourappscheme://iamback"/>
   </application>
</manifest>